@import 'typography'
@import 'colours'
@import 'margins_paddings'

.masthead
  background-color: $BLACK
  height: 300px
  padding: 0em 0 4em
  margin-bottom: $BASE-PADDING-MED
  color: white
  font-weight: $BASE-FONT-WEIGHT
  text-align: center
  
  h1
    padding-top: 1.5em

  .navbar
    height: 50px
    line-height: 50px
    font-size: $BASE-FONT-SMALL
    color: $LIGHT-GREY
    a
      padding-left: $BASE-PADDING-SMALL
      font-size: $BASE-FONT-SMALL
      color: $LIGHT-GREY

